* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  border: 8px solid #000;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);
}

.all {
  display: flex;
  /* height: 500px;
  width: 500px; */
  border-radius: 50px;
  background-color: hsl(0, 0%, 100%);
  font-size: 30px;
  margin-left: 50px;
}

.all1 {
  height: 600px;
  width: 400px;
  border-radius: 50px;
  background-image: linear-gradient(
    hsl(252, 100%, 67%) 5%,
    hsl(234, 85%, 45%) 70%
  );
}

.all2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* align-content: center; */
  height: 600px;
  width: 400px;
  border-radius: 50px;
  background-color: #ccc;
  /* background-color: hsl(0, 0%, 100%); */
  padding-left: auto;
  padding-right: auto;
  font-family: "Hanken Grotesk", sans-serif;
}

.your-result {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 23px;
  font-weight: 600;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  color: hsl(241, 100%, 89%);
}

.score-total {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(241, 81%, 54%);
  border-radius: 300px;
  width: 240px;
  height: 230px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.score {
  font-size: 100px;
  font-weight: bold;
  color: hsl(241, 100%, 89%);
}

.total {
  font-size: 30px;
  opacity: 0.6;
  color: hsl(241, 100%, 89%);
}

.great {
  text-align: center;
  /* height: 100px; */
  margin-top: 50px;
  color: hsl(241, 100%, 89%);
  font-size: 30px;
  font-family: "Hanken Grotesk", sans-serif;
}

.rating {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  margin-left: 60px;
  margin-right: 60px;
  color: hsl(241, 100%, 89%);
  opacity: 0.7;
}

.list {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* text-align: center; */
  align-content: center;
  order: 1;
  margin-top: 30px;
  font-size: 16px;
}

h3 {
  margin-top: 50px;
  justify-self: flex-start;
  /* margin-bottom: 20px; */
  /* justify-self: flex-start; */
}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.lt {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color: #c84;
  font-size: 16px;
  height: 100px;
  width: 300px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 2px 4px 6px #000;
  color: #fff;
}

.img {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  padding-right: 30px;
  /* align-content: start; */
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.num {
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
}

/* .list1 {
  border: 2px solid black;
  order: 1;
}

.list2 {
  margin: 20px;
  border: 2px solid black;
}

.list3 {
  margin: 20px;
  border: 2px solid black;
}

.list4 {
  margin: 20px;
  border: 2px solid black;
} */

/* .const {
  justify-self: center;
  align-self: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  color: hsl(241, 100%, 89%);
} */
