* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: 150px; */
  /* margin-bottom: 150px; */
  /* margin-left: 600px; */
  /* margin-right: 600px; */
  text-align: center;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  border: 5px solid black;
  height: 100vh;
  justify-content: center;
}

.all {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 80%;
  width: 50%;
  border-radius: 15px 15px 15px 15px;
  margin: 200px;
}

.imgs {
  display: flex;
  justify-content: start;
  align-content: center;
  width: 70%;
  height: 100%; 
}

img {
  border-radius: 15px 0px 0px 15px;
}
  
  
.card {
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: px;
  border-radius: 0px 15px 15px 0px;
  width: 70%;
  background-color: hsl(0, 0%, 100%);
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  padding-top: 20px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  opacity: 0.4;
}

h1 {
  font-size: 40px;
  font-family: "Bodoni MT", serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  text-align: left;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    line-height: 38px;
    color: hsl(158, 42%, 18%);
    padding-top: 20px;
}

p {
  font-size: 16px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  line-height: 30px;
  opacity: 0.5;
  padding-top: 40px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100px;

}

.correct {
  font-size: 45px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.wrong {
  margin: 30px;
  text-decoration: line-through;
  opacity: 0.4;
  font-size: 14px;
}

.btn {
  margin-left: 10px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 14px;
  background-color: hsl(158, 42%, 18%);
  color: hsl(30, 38%, 92%);
  margin-bottom: 30px;
}